<nav class="navbar navbar-expand-sm navbar-dark custom-navbar">
  <a class="navbar-brand" href="#"> FGNR Task Manager </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mynav"
    title="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="productPage">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="addProduct">Add Product</a>
      </li>
    </ul>
    
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>